[mysql]
server-id = 1

[mysqld]
user = mysql
port = 3306
bind-address = 127.0.0.1

[mysqldump]
max_allowed_packet = 2M

[mysqld_safe]
log-error = /data/my_3306/my_3306.err
pid-file = /data/my_3306/mysqld.pid

